* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 70%;
  margin: auto;
}

header .wave-container {
  position: relative;
  background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
  color: #fff;
  text-align: center;
  height: auto;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  margin: 0;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header a:hover {
  color: rgb(84, 151, 233);
  transform: scale(1.3);
}

header button {
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}

header button:hover {
  color: rgb(84, 151, 233);
  transform: scale(1.3);
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(-225deg, #473b7b 0%, #3584a7 51%, #30d2be 100%);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}

.add-producto {
  padding-bottom: 10px;
}

.add-producto button {
  border: none;
  width: 180px;
  height: 30px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 36, 80);
  font-size: 14px;
  font-weight: bold;
}

.add-producto button:hover {
  background-color: rgb(212, 212, 212);
  color: rgb(1, 36, 80);
  font-weight: bold;
  border: 2px solid rgb(1, 36, 80);
}

.div-productos-totales {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.356);
  padding: 10px;
}

.precio-producto button {
  border: none;
  background: none;
  position: relative;
  margin-top: 10px;
  color: rgb(1, 36, 80);
  border: 2px solid rgb(1, 36, 80);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.precio-producto button:hover {
  background-color: rgb(1, 36, 80);
  color: rgb(212, 212, 212);
  transform: scale(1.2);
  border: 2px solid rgb(1, 36, 80);
}

.div-buttons {
  display: flex;
  float: left;
  margin: 10px;
}

.div-buttons a {
  text-decoration: none;
}

.div-buttons button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
  border: 2px solid rgb(1, 36, 80);
}

.div-buttons button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.div-buttons button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.div-buttons button:hover {
  transform: translateY(-2px);
}

footer .div-footer {
  background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
  text-align: center;
  align-items: center;
}

footer img {
  display: none;
}
.text-footer {
  display: none;
}

.links-footer h5 {
  display: none;
}

.social-footer h5 {
  display: none;
}

.links-footer,
.social-footer {
  padding-top: 10px;
  color: #fff;
  padding-bottom: 15px;
}

.brand {
  display: flex;
  flex-direction: row;
}
.brand .text-footer {
  display: flex;
}

@media screen and (min-width: 720px) {
  header {
    width: 100%;
  }

  header .wave-container {
    position: relative;
    background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-bar {
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    align-items: center;
    padding: 20px;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  .div-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .tarjeta-producto {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .img-producto img {
    object-fit: contain;
  }

  @keyframes pulse {
    0% {
      left: 0px;
      top: -400px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

  .div-productos-totales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 6px 6px 20px 4px rgb(0 0 0 / 36%);
    padding: 10px;
    animation: pulse 0.6s;
    position: relative;
  }

  .precio-producto button {
    border: none;
    background: none;
    position: relative;
    margin-top: 10px;
    color: rgb(1, 36, 80);
    border: 2px solid rgb(1, 36, 80);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .precio-producto button:hover {
    background-color: rgb(1, 36, 80);
    color: rgb(212, 212, 212);
    transform: scale(1.2);
    border: 2px solid rgb(1, 36, 80);
  }

  .div-buttons {
    position: relative;
    top: 10%;
    left: 15%;
  }

  /*FOOTER DESKTOP*/

  footer img {
    display: flex;
  }
  .text-footer {
    display: flex;
    width: 200px;
  }

  footer .div-footer {
    background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(24, 84, 156));
    text-align: left;
    display: flex;
    color: white;
    justify-content: center;
    height: 200px;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
  }

  .links-footer {
    margin: 100px;
  }
  .links-footer h5 {
    display: flex;
  }

  .social-footer h5 {
    display: flex;
  }
}
