* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 70%;
  margin: auto;
}

header .wave-container {
  position: relative;
  background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
  color: #fff;
  text-align: center;
  height: auto;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  margin: 0;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header a:hover {
  color: rgb(84, 151, 233);
  transform: scale(1.3);
}

header button {
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}

header button:hover {
  color: rgb(84, 151, 233);
  transform: scale(1.3);
}

.div-producto .button-addCart {
  display: none;
}

.div-producto:hover .button-addCart {
  display: flex;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(-225deg, #473b7b 0%, #3584a7 51%, #30d2be 100%);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}

.div-productos-totales {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  gap: 3em;
}

.div-producto {
  width: 280px;
  height: 354px;
  border-radius: 1em;
  padding: 1.9rem;
  background: #303030;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.tarjeta-producto {
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.Nombre {
  font-size: 1.5rem;
  font-weight: 500;
}

.div-producto:hover {
  transform: translateY(5%);
  background: linear-gradient(
    to bottom,
    rgb(31, 31, 31),
    rgba(255, 255, 255, 0)
  );
}

.div-producto:hover:before {
  opacity: 1;
}

.div-producto:hover .tarjeta-producto {
  opacity: 1;
  transform: translateY(0);
}

.card-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgb(1, 36, 80);
  color: white;
  font-weight: bold;
  transition: 0.4s ease;
}
.card-button:hover {
  background: rgba(32, 58, 170, 0.4);
  color: #f5f5f5;
}

.tarjeta-producto {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.img-producto img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

footer .div-footer {
  background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
  text-align: center;
  align-items: center;
}

footer img {
  display: none;
}
.text-footer {
  display: none;
}

.links-footer h5 {
  display: none;
}

.social-footer h5 {
  display: none;
}

.links-footer,
.social-footer {
  padding-top: 10px;
  color: #fff;
  padding-bottom: 15px;
}

.brand {
  display: flex;
  flex-direction: row;
}
.brand .text-footer {
  display: flex;
}

@media screen and (min-width: 770px) {
  header {
    width: 100%;
  }

  header .wave-container {
    position: relative;
    background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(23, 71, 130));
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-bar {
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    align-items: center;
    padding: 20px;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  .div-productos-totales {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-direction: row;
    gap: 1em;
    width: auto;
    height: auto;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  }

  @supports (object-fit: cover) {
    .img-producto img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: auto;
      max-width: 280px;
    }
  }

  .div-producto {
    width: 280px;
    height: 354px;
    border-radius: 1em;
    padding: 1.9rem;
    background: #303030;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
  }

  .tarjeta-producto {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .Nombre {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .div-producto:hover {
    transform: translateY(5%);
    background: linear-gradient(
      to bottom,
      rgb(31, 31, 31),
      rgba(255, 255, 255, 0)
    );
  }

  .div-producto:hover:before {
    opacity: 1;
  }

  .div-producto:hover .tarjeta-producto {
    opacity: 1;
    transform: translateY(0);
  }

  .card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: rgb(1, 36, 80);
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
  }
  .card-button:hover {
    background: rgba(32, 58, 170, 0.4);
    color: #f5f5f5;
  }

  .tarjeta-producto {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .img-producto img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  /*FOOTER DESKTOP*/

  footer img {
    display: flex;
  }
  .text-footer {
    display: flex;
    width: 200px;
  }

  footer .div-footer {
    background: linear-gradient(to bottom, rgb(1, 36, 80), rgb(24, 84, 156));
    text-align: left;
    display: flex;
    color: white;
    justify-content: center;
    height: 200px;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
  }

  .links-footer {
    margin: 100px;
  }
  .links-footer h5 {
    display: flex;
  }

  .social-footer h5 {
    display: flex;
  }
}
